:root {
  --main-color: #3a405a;
  --secondary-color: #E9AFA3;
}

html {
  font-family: "Verdana", sans-serif;
}

header {
  background-color: var(--main-color);
  padding: 4px;
  border-radius: 8px;
  text-align: center;
  color: var(--secondary-color);
  margin: 10px;
}

h2 {
  color: #685044;
  font-size: 30px;
  text-align: center;
}

nav,
nav a {
  color: var(--secondary-color);
  padding: 5px;
}
